<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Imported Rule 2" />
                <rule name="Imported Rule 2" enabled="false">
                    <match url=".*" ignoreCase="false" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
