/* 
    Document   : grafik
    Created on : 2013-08-14, 22:40:37
    Author     : Gabus, Krzysztof
    Description:
        Purpose of the stylesheet follows.
*/

#monthViewTable {
	text-align: center;
}

#monthViewTable caption {
	font-size: 2em;
	text-align: center;
	padding: 3px;
}

#monthViewTable th {
	text-align: center;
	font-size: 1.8em;
}

#monthViewTable td {
	text-align: center;
}

#monthViewTable td a {
	display: block;
	padding: 1.1em;
	background: #eee;
	font-size: 2em;
}

#dayPlan {
	display: none;
}

#grafik_content {
	margin-top: 5px;
    margin-left: 220px;
	text-align: center;
    border: 1px solid #606262;
    padding: 2px;
}

#grafik_top {
    border-bottom: 2px solid #606262;
    height: 2.8em;
    padding: 4px 0;
    margin: 2px 20px;
}

#grafik_title {
	text-align: center;
    border: 1px solid #606262;
    color: #fdd015;
    font-size: 1.30em;
    font-weight: bold;
    float: left;
    padding: 4px 20px;
    margin: 0 20px 0 0;
}

.dni_grafik {
    float: left;
    font-weight: bold;
    color: #ffffff;
    display: block;
    font-size: 1.30em;
    padding: 4px 12px;
}

div.dni_grafik {
    border: 1px solid #606262;
    margin: 0 4px;
}

a.dni_grafik {
    text-decoration: none;
}
#category {
    float: right;
}

#category div {
    float: left;
    border: 1px solid #606262;
    font-weight: bold;
    color: #ffffff;
    display: block;
    font-size: 1.30em;
    padding: 4px 10px;
    margin: 0 0 0 4px;
}

#category div#category_title {
    color: #f26822;
}

#day_info {
    margin-top: 10px;
}

#day_of_month {
     font-size: 3.5em;
     border: 1px solid #606262;
     font-weight: bold;
     color: #ffffff;
     float: left;
     display: block;
     padding: 25px 40px;
     margin-left: 20px;
     margin-top: 20px;
 }

#day_of_week a {
    display: block;
}

#day_of_week .grafik_div_floating_left {
    font-size: 1.4em;
    border: 1px solid #606262;
    font-weight: bold;
    color: #ffffff;
    float: left;
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.grafik_div_floating_left {
    float: left;
}