@CHARSET "UTF-8";
/******** general styles *********/
html {
    background: #343131;
}

body {
    margin: 0;
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div {
    margin: 0;
    padding: 0;
}

#main {
    width: 1000px;
    margin: 0 auto;
}

/*********** common classes *********/
.clear {
    clear: both;
    height: 0;
    font-family: Arial,Helvetica,sans-serif;
}

.shadow {
    -webkit-box-shadow: 2px 2px 2px 1px rgba(03, 03, 03, 0.5);
    box-shadow: 2px 2px 2px 1px rgba(03, 03, 03, 0.5);
}
.yellow_text{
    color: #f5eb17 !important;
}
.orange_text{
    color: #ed6923 !important;
}
.red_text{
    color: #ed2024 !important;
}
/********** header ************/
#header {

}

div#logo {
    background: url("/public/images/logo_lpunkt.png") no-repeat;
    background-size: contain;
    height: 180px;
}
div#menu_top {
    background: rgb(61,61,61); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(61,61,61,1) 0%, rgba(35,31,32,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(100%,rgba(35,31,32,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(35,31,32,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(35,31,32,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(35,31,32,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(61,61,61,1) 0%,rgba(35,31,32,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#231f20',GradientType=0 ); /* IE6-9 */
    border: 1px solid #5f6161; /*231f20*/
    border-width: 0 1px 1px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    height: 40px;
    width: 995px;
    margin-bottom: 5px;
}
div#menu_top ul{
    list-style: none;
    margin: 0;
    padding: 6px 0;
    color: #7d7d7d;
    position: relative;
}
div#menu_top li{
    float: left;
    padding: 2px 10px;
    font-size:18px;
    font-weight: bold;
    border-left: 2px solid #5f6161;
}
div#menu_top li:first-child{
    border: none;
}
div#menu_top li.selected_menu a{
    color: #f6eb19;
}
div#menu_top a{
    color: #7d7d7d;
    text-decoration: none;
}
div#menu_top #logout {
    position: absolute;
    right: 0;
    border: none;
}
/**
    User menu
*/
#sub_menu {
    margin-top: 4px;
    text-align: center;
    background: #d2832a; /* Old browsers */
    background: -moz-linear-gradient(top, #d2832a 0%, #ef5125 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2832a), color-stop(100%,#ef5125)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d2832a 0%,#ef5125 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d2832a 0%,#ef5125 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d2832a 0%,#ef5125 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d2832a 0%,#ef5125 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2832a', endColorstr='#ef5125',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #606262;
}
#sub_menu ul {
    list-style: none;
    height: 1.6em;
    margin: 0;
    padding: 8px 0 8px 0;
    display: inline-block;
}

div#sub_menu ul li {
    float: left;
    border-left: 2px solid #221f1f;
    padding: 0 5px;
}
div#sub_menu ul li:first-child {
    border: none;
    margin-left: 0.1em;
}
div#sub_menu ul li a {
    font-weight: bold;
    color: #221f1f;
    text-decoration: none;
    padding: 2px 10px;
    display: inline-block;
    font-size: 1.30em;
}

/********** top boxes *********/
#info_boxes_top{
    border: 1px solid #606262;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    font-size: 14px;
    font-weight: bold;
}
#info_boxes_top h4{
    color: #f6eb19;
    font-size: 16px;
    border-bottom: 1px solid #606262;
    margin: 5px;
    padding: 0 20px 0 5px;
    display: inline-block;
}
#info_boxes_top .box_top, #info_boxes_top .box_separator{
    float: left;
}
#info_boxes_top dl, #info_boxes_top dt, #info_boxes_top dd{
    margin: 0;
    padding: 0;
}
#info_boxes_top dt {
    color: #606262;
    width: 160px;
    display: inline-block;
}
#info_boxes_top dd{
    color: #ffffff;
    display: inline-block;
}
#info_boxes_top div{
    padding-right: 3px;
}
#info_boxes_top .box_separator {
    height: 120px;
    width: 1px;
    margin: 30px 5px 10px;
    padding: 0;
    background: #606262;
}
/********** shoutbox ***********/
#shoutbox{
    width: 40%;
}
#shoutbox #box_content {
    background: #3b3b3b;
    border: 1px solid #606262;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 100px;
    margin: 0 5px;
    padding: 3px;
    font-size: 13px;
    overflow-y: auto;
}
.box_date {
    color: #f6eb19;
    font-size: 12px;
}
.box_user {
    color: #000;
}
.box_msg {
    color: #fff;
}
#shoutbox form {
    padding: 3px;
    color: #606262;
}
#shoutbox input[type=text] {
    border: none;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #3b3b3b;
    padding: 4px;
    width: 160px;
    color: #fff;
}
#shoutbox input[type=submit], #shoutbox button {
    border: 1px solid #fff;
    background: rgb(34,31,31); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(34,31,31,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,31,31,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(34,31,31,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(34,31,31,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(34,31,31,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(34,31,31,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#221f1f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
/********** content ***********/
#content {

}
/******** register form ********/
fieldset {
    position: relative;
    border: 1px solid #A3A3A3;
    margin: 30px 20px 10px;
}
fieldset legend {
    display: block;
    padding: 5px;
    width: 150px;
    background: #F5F5F5;
    border: 1px solid #A3A3A3;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
#register_form {
    margin-left: 30px;
}
#register_form > div{
    clear: left;
}
#register_form label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 3px;
}
#register_form #submit, #register_form #dalej, #register_form #wstecz{
    position: absolute;
    right: 20px;
    bottom: -20px;
    padding: 5px;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
}
#register_form #wstecz{
    right: 150px;
}
#register_form legend{
    float: left;
    position: relative;
    top: -25px;
    margin-right: 10px;
}


/*********** footer ************/
#footer{
    position: fixed;
    width: 100%;
    padding: 2px;
    bottom: 0;
    left: 0;
    background: #F5F5F5;
    color: #0090ff;
    font-size: 0.8em;
    text-align: center;
}

.block_footer {
    width: 30%;
    float: left;
}