@CHARSET "UTF-8";
/******** general styles *********/
html {
    background: #343131;
}

body {
    margin: 0;
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

div {
    margin: 0;
    padding: 0;
}

#main {
    width: 1000px;
    margin: 0 auto;
}

.clear {
    clear: both;
    height: 0;
    font-family: Arial,Helvetica,sans-serif;
}

.shadow {
    -webkit-box-shadow: 2px 2px 2px 1px rgba(03, 03, 03, 0.5);
    box-shadow: 2px 2px 2px 1px rgba(03, 03, 03, 0.5);
}
/********** header ************/
#header {
    height: 200px;
}

div#logo {
    background: url("/public/images/logo_lpunkt.png") no-repeat;
    background-size: contain;
    height: 180px;
}

/********** content ***********/
#content {
    border: 2px solid #A3A3A3;
    border-radius: 0 5px 5px 5px;
    background: #F5F5F5;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
/******** register form ********/
fieldset {
    position: relative;
    border: 1px solid #A3A3A3;
    margin: 30px 20px 10px;
}
fieldset legend {
    display: block;
    padding: 5px;
    width: 150px;
    background: #F5F5F5;
    border: 1px solid #A3A3A3;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
#register_form {
    margin-left: 30px;
}
#register_form > div{
    clear: left;
}
#register_form label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 3px;
}
#register_form #submit, #register_form #dalej, #register_form #wstecz{
    position: absolute;
    right: 20px;
    bottom: -20px;
    padding: 5px;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
}
#register_form #wstecz{
    right: 150px;
}
#register_form legend{
    float: left;
    position: relative;
    top: -25px;
    margin-right: 10px;
}


/*********** footer ************/
#footer{
    position: fixed;
    width: 100%;
    padding: 2px;
    bottom: 0;
    left: 0;
    background: #F5F5F5;
    color: #0090ff;
    font-size: 0.8em;
    text-align: center;
}

.block_footer {
    width: 30%;
    float: left;
}